/* === GENERAL STYLING === */
html,
body {
    background: #efefef;
    font-family: 'Poppins', 'Arial', sans-serif !important;
    margin: 0;
    padding: 0;
}

p a {
    text-decoration: underline;
}



/* === HEADING === */
h1, h2, h3, h4, h5, h6  { font-weight: 700; }
.subheader              { font-weight: 600; }
.page-title {
    margin: 2em auto 1em;
    border-bottom: 1px solid #661f75;
    color: #661f75;
}

.page-subheader {
    background-size: cover;
    height: 30em;
    width: 100%;
}



/* === BUTTONS === */
.button {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    font-weight: 600;
}



/* === OVERLAYS === */
.overlay {
    background-color: rgba(0,0,0,0.8);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.overlay-primary {
    background-color: #661f75;
    opacity: 0.7;
}

.decor {
    height: 5px;
    background: #661f75;
    width: 100%;
    position: fixed;
    z-index: 1001;
}



/* === HAMBURGER MENU === */
.ham-container,
.menu-close {
    transition: all 0.4s ease;
    background-color: #efefef;
    border-top: 5px solid #661f75;
    cursor: pointer;
    height: 70px;
    left: 0;
    padding: 0.5em;
    position: fixed;
    top: 0;
    width: 70px;
    z-index: 999;
}

.ham-container:hover,
.menu-close:hover               { background-color: #661f75; }
.ham-container:hover .ham-line  { background-color: #efefef; }
.menu-close:hover               { color: #efefef; }

.ham {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ham-line {
    background-color: #661f75;
    height: 4px;
    margin-bottom: 3px;
    width: 23px;
}

.menu {
    position: fixed;
    transition: all 0.4s ease;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.4s, visibility 0s 0.4s;
    transition: opacity 0.4s, visibility 0s 0.4s;
}

.menu.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.menu nav {
    font-size: 54px;
    height: 60%;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.menu ul {
    display: inline-block;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
    opacity: 0.4;
    -webkit-transform: translateX(-15%);
    transform: translateX(-15%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

.menu.open ul {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.menu li {
    color: white;
    cursor: pointer;
    height: calc((100% - 80px) / 6);
    line-height: alc((100% - 80px) / 6);
    min-height: 54px;
    display: table;
    width: 100%;
}

.menu li:hover { background-color: rgba(255,255,255,0.3); }
.menu a {
    color: white;
    font-size: 3.5em;
    line-height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.menu-close {
    color: #661f75;
    font-size: 2em;
    line-height: 100%;
    font-weight: 600;
    text-align: center;
}

.menu-overlay {
    position: fixed;
}




/* === PHOTO HEADER === */
.photo-header {
    background-image: url('../img/header-box-background.jpg');
    background-position: center center;
    background-size: cover;
    min-height: 600px;
    height: 100vh;
    position: relative;
    width: 100%;
}

.photo-header-container {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 5;
    opacity: 0.95;
    filter: alpha(opacity=95);
}

.photo-header-img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 360px;
}

.photo-header-text {
    color: white;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border-bottom: none;
}



/* === INTRO === */
.intro {
    padding: 4em 0;
    text-align: center;
}

.intro-text {
    color: #661f75;
    font-size: 1.9em;
    font-weight: 700;
}



/* === DANCE SHOWS === */
.dance-shows h2 {
    color: white;
    font-size: 5em;
    font-weight: 600;
    left: 50%;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
    width: 75%;
    z-index: 5;
}

.dance-show {
    min-height: 730px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.dance-show > .overlay {
    -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.dance-show:hover > .overlay { opacity: 0.7; filter: alpha(opacity=70); }
.dance-show-left {
    background: url('../img/home-rta.jpg') no-repeat center center;
    background-size: cover;
}

.dance-show-right {
    background: url('../img/home-mochashow.jpeg') no-repeat center center;
    background-size: cover;
}



/* === ABOUT === */
.about { position: relative; }
.about-text {
    position: relative;
    width: 100%;
}

.about-subheader { 
    background-image: url('../img/about-photo.png');
    background-position: 50% 70%;
    background-size: length ;
    /* background: url('../img/team-group.jpg') no-repeat center 20%;  */
}



/* === MEMBERS === */
.member {
    position: relative;
    overflow: hidden;
}

.member:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.memberContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.memberImg {
    width: 100%;
    height: auto;
    min-height: 100%;
    background-position: center 15%;
    background-size: cover;
}

.member:hover .memberInfo {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.memberInfo {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(119,32,136,0.5);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    cursor: default;
}

.memberInfo p {
    color: white;
    display: table-cell;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.members-alum {
    margin-bottom: 1em;
}



/* === MEDIA === */
.media-subheader {
    background-image: url('../img/media-subheader.jpg');
    background-position: 50% 35%;
    background-size: cover;
    /* background: url('../img/media-subheader.jpg') no-repeat 50% 60% 1%/100%; */
}

.videos { margin-bottom: 7px;}
.videoContainer { margin: 0 0 -7px 0; }
.videoLink {
    margin: 0 auto;
    display: block;
}

.youtube {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 200ms ease-out;
            transition: all 200ms ease-out;
    cursor: pointer;
}

.youtube .play {
    background: url("../img/videoPlay.png") no-repeat center center;
    background-size: 64px 64px;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .8;
    filter: alpha(opacity=80);
    -webkit-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}

.youtube .play:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}



/* === SHOWS === */
.shows-subheader {
    background-image: url('../img/shows-photo.jpg');
    background-position: 50% 70%;
    /* background: url('../img/shows-subheader.jpg') no-repeat center 35%/100%; */
}



/* === CONTACT === */
.contact-text   { margin: 7em 0; }
.contact-img    { margin: 2em 0; }



/* === FOOTER === */
.footer {
    border-top: 1px solid #ccc;
    width: 100%;
}

.footer-top {
    background: #efefef;
    padding: 1.5em 0;
}

.footer-top .footer-text {
    color: #222;
    text-align: left;
}

.footer-bottom { background-color: #222; }
.footer-bottom .footer-text { color: #efefef; }
.footer-text {
    color: #222;
    padding: 1em 0;
    text-align: center;
}


/* === MISC === */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.visuallyhidden {
    position: absolute;
    width: 1px; /* Setting this to 0 make it invisible for VoiceOver */
    height: 1px; /* Setting this to 0 make it invisible for VoiceOver */
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.float-left { float: left; }
.float-right { float: right; }

.hidden { display: none; }
.shown { display: block; }

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.centered {
    text-align: center;
}

.outline {
    -webkit-text-stroke: 2px #222;
    color: rgba(255,255,255,0.4);
}
